@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: 0;
  text-decoration: none;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem 7%;
  border-bottom: 1px solid rgba(76, 148, 177, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.navbar .navbar-logo {
  font-size: 1.5rem;
  font-weight: 300;
  font-family: sans-serif;
  
}

.navbar .navbar-logo span {
  color: aqua;
  font-style: italic;
}

.navbar .navbar-nav a{
  display: inline-block;
  font-size: 1rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: aqua;
}

.navbar .navbar-nav a::after {
  content: '';
  display: block;
  padding-bottom: 0.2rem;
  border-bottom: 0.1rem solid aqua;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(1);
}

.navbar .navbar-extra a {
  margin: 0 0.8rem;
}

.navbar .navbar-extra a:hover {
  color: aqua;
}


/* media queries */

/* laptop */
@media (min-width: 1024px) {
  .navbar {
    padding: 0.6rem 10%;
  }
}

/* desktop */
@media (min-width: 1216px) {
  .navbar {
    padding: 0.6rem 15%;
  }
}

/* tablet */
@media (max-width: 1023px) {
  .navbar .navbar-nav {
    display: none;
  }
  .navbar .navbar-extra {
    display: none;
  }
  .navbar .navbar-logo {
    margin-left: 1rem;
  }
}

/* mobile */
@media (max-width: 767px) {
  .navbar {
    padding: 0.6rem 5%;
  }
  .navbar .navbar-nav {
    display: none;
  }
  .navbar .navbar-extra {
    display: none;
  }
  .navbar .navbar-logo {
    margin-left: 1rem;
  }
}